<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<databases>
		<database>
			<name>redis</name>
			<host>localhost</host>
			<port>6379</port>
		</database>
		<database>
			<name>voldemort</name>
			<host>localhost</host>
			<port>6666</port>
		</database>
		<database>
			<name>hbase</name>
			<host>localhost</host>
			<port>0</port>
		</database>
		<database>
			<name>mongodb</name>
			<host>localhost</host>
			<port>0</port>
		</database>
		<database>
			<name>cassandra</name>
			<host>localhost</host>
			<port>0</port>
		</database>
	</databases>
	<files>
		<file>
			<name>240p</name>
			<path>D:\Vanderson\Desktop\blog\1.PNG</path>
		</file>
		<file>
			<name>360p</name>
			<path>D:\Vanderson\Desktop\blog\1.PNG</path>
		</file>
		<file>
			<name>420p</name>
			<path>D:\Vanderson\Desktop\blog\1.PNG</path>
		</file>
		<file>
			<name>720p</name>
			<path>D:\Vanderson\Desktop\blog\1.PNG</path>
		</file>
		<file>
			<name>1080p</name>
			<path>D:\Vanderson\Desktop\blog\1.PNG</path>
		</file>
		<file>
			<name>4k</name>
			<path>D:\Vanderson\Desktop\blog\1.PNG</path>
		</file>
		<file>
			<name>output</name>
			<path>C:\Users\Vanderson\Desktop</path>
		</file>
	</files>
</configuration>